@model AboutUs
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="AboutUs" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.FileImage">Image</label>
                    <img style="width: 100px" src="~/Uploads//@Model.Image" alt="Alternate Text" />
                    <input class="form-control" asp-for="@Model.FileImage">
                    <span asp-validation-for="@Model.FileImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title">Title</label>
                    <input class="form-control" asp-for="@Model.Title">
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Content">Content</label>
                    <input class="form-control" asp-for="@Model.Content">
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                    <input class="form-control" type="hidden" asp-for="@Model.Id">
                </div>

                <button type="submit" class="btn btn-success">Update</button>
                <button type="submit" class="btn btn-dark" asp-controller="AboutUs" asp-action="Index">Back to List</button>

            </form>
        </div>
    </div>
</div>

